Listen 127.0.0.2:80
Listen 127.0.0.2:443

LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_http_module modules/mod_proxy_http.so

<VirtualHost *:80>
    ServerName subdomain1.net
    ServerAlias subdomain1.net
    RedirectPermanent "/" "https://subdomain1.net"
</VirtualHost>

<VirtualHost _default_:443>
    ServerName subdomain1.net
    ServerAlias subdomain1.net

    ProxyPreserveHost Off
    SSLProxyEngine On
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    SSLEngine on
    SSLCertificateFile  /path/to/setup/ssl/cert.pem
    SSLCertificateKeyFile /path/to/setup/ssl/key.pem

    ProxyPass "/" "https://127.0.0.1:4433/"
    ProxyPassReverse "/" "https://127.0.0.1:4433/"
</VirtualHost>

<VirtualHost *:80>
    ServerName subdomain2.net
    ServerAlias subdomain2.net
    RedirectPermanent "/" "https://subdomain2.net"
</VirtualHost>

<VirtualHost _default_:443>
    ServerName subdomain2.net
    ServerAlias subdomain2.net

    ProxyPreserveHost Off
    SSLProxyEngine On
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    SSLEngine on
    SSLCertificateFile  /path/to/setup/ssl/cert.pem
    SSLCertificateKeyFile /path/to/setup/ssl/key.pem

    ProxyPass "/" "https://127.0.0.1:4434/"
    ProxyPassReverse "/" "https://127.0.0.1:4434/"
</VirtualHost>
